html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

html {
    min-height: 100%;
    position: relative;
}

body { margin-bottom: 60px; }

.form-button { margin: 20px 20px 20px 0; }

.removeDiv { margin-top: 5px; }

.text-right { text-align: right !important; }

.iHidden { }

.mark-for-delete { }

.hidden-group { }

.AddedInput { }