html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-button {
    margin: 20px 20px 20px 0;
}
.iHidden{}
.mark-for-delete {
}
.removeDiv {
    margin-top: 5px;
}
.text-right {
    text-align: right !important;
}

.AddedInput {
}